* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
/* prevents entire body from too skinny for responsiveness 
use min, max and calc for any value (margin, padding, width, etc) to control
the way the screen changes depending on screen size/dimensions/orientation
*/
  min-width: 210px;
}

main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: space-around;
}

.main-header {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background: rgb(187, 50, 50);
  color: #fff;
}

.card {
  flex: 1 0 0; 
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width:thin;
  /* margin - have some separation between the cards */
  margin: 8px;
  /* set size for cards below */
  width: 25px;
  height: 325px;
  /* for responsiveness, give css rendering engine min width so won't go too low so looks bad */
  min-width:200px;
}

.card header {
  padding: 10px;
  background: #1b85e8;
  color: #fff;
  font-weight:bold;
}

/* .card img {
  width: 100%;
  min-width: 400px;
} */
